*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
header{
	background-image: url(../wed1.jpg); 
	height: 100vh;
	background-size: cover;
	background-position: center;

}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;

}
.logo img{
float: left;
width: 200px;
height: auto;

}
.main {
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title h1{
	color: #fff;
	font-size: 50px;
}